<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="?controller=Main">Bakc Office</a>
    </li>
    <li class="breadcrumb-item active">Red | Plan Start
        <img src="">

    </li>
    <div class="form-horizontal col-xl-6 float-right">
        <div class="form-group row mb-0">
            <label for="exampleInputName" class="control-label col-xl-3 col-md-4 col-sm-auto mt-2">Cambiar plan</label>
            <select class="form-control col-xl-4 col-md-8 col-sm-auto" name="tipoDocumento" id="exampleFormControlSelect1">
                <option>Plan Ejecutivo</option>
            </select>
        </div>
    </div>
</ol>

